/*.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}*/

/*.gameArea canvas {
    canvas {
    padding: 0;
    margin: auto;
    display: block;
}*/


body{
    background-size: cover;
}

.roundInfo{
    width: 15%; 
    text-align: center;
    float: left;
    background-color: green;
    
}

.playerInfo{
    width: 15%;
    text-align: center;
    float: right;
    background-color: red;
}

.gameplayControls{
    width: 2%;
    align-content: center;
    vertical-align: bottom;
    background-color: yellow;
}

.towerArea{
    width: 2%;
    float: right;
    vertical-align: bottom;
    text-align: center;
    background-color: chartreuse;
}

.foreground{
    align-content: center;
    /*background-color: aliceblue;*/
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}